body {
    overflow: hidden;
}

th {
    border-top: none !important;
    border-bottom: 1px solid #dee2e6 !important;
}

.players-pane {
    border:  1px solid #eee;
    border-top: none;   
}

.sub {
    font-size: 12px;
    color: #555;
}

#div-players {
    overflow-y: scroll; 
    height: calc(98vh - 300px);
}

#div-players td, 
#div-players th, 
#div-result td, 
#div-result th, 
#div-players td input {
    font-size: 15px !important;
}

table td {
    padding: .4rem .6rem !important;
}

table th {
    padding: .7rem .6rem !important;
}

.games {
    max-height: calc(100vh - 370px); 
    overflow-x: hidden;
}

.games table td {
    padding: .4rem 7px !important;
    font-size: 14px;
}

.games table th {
    padding: .7rem 2px !important;
    font-size: 15px;
    cursor: pointer;
}

.player-board {
    max-height: calc(100vh - 220px); 
    overflow-x: hidden;
}

.fas.lock {
    padding-top: 10px;
    cursor: pointer;
}

.fa-lock-open {
    color: #ccc;
}

.btn-calc {
    width: 100px; 
    color: white !important;
}

.btn-export {
    width: 100px;
}

.btn-clear {
    width: 100px; 
    color: white !important;
}

.num-lineups {
    width: 90px !important;
}

div.lineups {
    overflow-y: scroll; 
    border: 1px solid #eee;
    border-radius: 4px;    
    height: calc(98vh - 280px)
}

#search-player {
    width: calc(100% - 1.5rem);
    font-size: 14px;
}

.position-filter .nav-item {
    width: 16.6666666666666%;
    text-align: center;
}

.position-filter .nav-item a {
    border-radius: 15px;
    height: 32px;
    font-size: 15px;
    font-weight: 600;
    padding-top: 5px;
}

.filters label {
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

.filters select {
    padding: 3px 7px;
}

.filters .season {
    padding-top: 5px;
    font-size: 14px;
    color: #777;
}

.filters .season.active {
    color: #007bff;
}

.board-loading {
    font-size: 16px;
    font-weight: 700;
}

td.break {
    font-size: 9px !important;
}