{% load extra %}
<table class="table table-hover table-responsive-md">
<thead>
  <tr>
    <th>Player</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th>
    <th title="Positon">POS</th>
    <th title="Player’s Team">TM</th>
    <th title="Player is Home or Away">H/A</th>
    <th title="Team that the player is competing against">VS</th>
    <th title="Fantasy Salary selected from Salary Drop down menu">Salary</th><th>&nbsp;</th>
    <th title="Player’s Average Minutes Per Game">AMPG</th>
    <th title="Player’s Average Situational Minutes Per Game">SMPG</th>
    <th title="Minute Differential between AMPG and SMPG">MDIFF</th>
    <th title="Fantasy Points the opponent yields to that player’s position">OPP</th>
    <th title="Ranking of the opponent’s defensive FPTs yielded to that player’s position. Higher the #, the better the matchup.">OPR</th>
    <th title="Overall Average Fantasy Points">AFP</th>
    <th title="Situational Average Fantasy Points">SFP</th>
    <th title="Point differential between Overall and Situational FPT averages">PDIFF</th>
    <th title="Player’s value determined from Salary Drop down menu (Salary / 1,000 X 4 + 10 = VAL)">VAL</th>
    <th title="Player Positional Rank. The rank of that player at his position based upon that player’s Situation Fantasy Points.">PPR</th>
    <th title="Injury status. Players that are out will not be listed on the Player Match-Up Board unless they were originally GTD then downgraded to OUT.">INJ</th>
    <th></th>
  </tr>
</thead>
  <tbody>
    {% for ii in players %}
      <tr>
        {% if ii %}
          <td colspan="5"><a href="/players/{{ ii.id }}" style="font-size: 14px;"><img src="{{ ii.avatar }}" height="24" class="mr-2">{{ ii.name }}</a></td>
          <td>{{ ii.pos }}</td>
          <td>{{ ii.team }}</td>
          <td>{{ ii.loc }}</td>
          <td>{{ ii.vs }}</td>
          <td colspan="2">$ {{ ii.salary|floatformat:0 }}</td>
          <td>{{ ii.ampg|floatformat:1 }}</td>
          <td>{{ ii.smpg|floatformat:1 }}</td>
          <td class="{% if '(' in ii.mdiff %}text-danger{% else %}text-success{% endif %}">
            {{ ii.mdiff }}
          </td>
          <td>{{ ii.opp|floatformat:1 }}</td>
          <td class="text-center" style="color: #ffff00; font-weight: 700; background: {{ ii.color }};">{{ ii.opr }}</td>
          <td>{{ ii.afp|floatformat:1 }}</td>
          <td>{{ ii.sfp|floatformat:1 }}</td>
          <td class="{% if '(' in ii.pdiff %}text-danger{% else %}text-success{% endif %}">
            {{ ii.pdiff }}
          </td>
          <td>{{ ii.val|floatformat:1 }}</td>
          <td>{{ ii.ppr }}</td>
          <td class="{% if ii.inj != '-' %}text-danger{% endif %}">{{ ii.inj }}</td>
          <td><i class="far fa-thumbs-up fav {{ ii.uid|liked:request.session }}" data-uid="{{ ii.uid }}"></i></td>
        {% else %}
          <td colspan="17" class="break">&nbsp;</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
