{% extends 'base.html' %}
{% load extra %}

{% block css %}
  <link rel="stylesheet" href="/static/css/extra.css">
{% endblock %}

{% block content %}
  <form class="form-inline" id="frm-player" action="/export_lineups" method="POST">
    {% csrf_token %}
    <div class="clearfix"></div>
      <div class="col-md-6 pr-0 pl-4 mb-5">
        <h3 class="mb-4 mt-4">Players List</h3>
        <ul class="nav nav-tabs">
          {% for ds in data_sources %}  
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#home" onclick="chooseDS('{{ ds.0 }}');">{{ ds.0 }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content players-pane p-2">
          <div id="div-players"></div>
        </div>
      </div>

      <div class="col-md-2 pt-5 text-center">
        <button class="btn btn-success mb-3 btn-export">Export</button><br>
        <a class="btn btn-success mb-3 btn-calc">Calculate</a><br>
        <a class="btn btn-success mb-5 btn-clear">Clear</a><br>
        <span class="pt-5">Number of Lineups:</span><br>
        <input type="number" class="form-control m-3 num-lineups" name="num-lineups" value="30" min="1"><br>
      </div>
      <div class="col-md-4 pl-0 pr-4" id="div-result"></div>
  </form>

  <div class="modal fade" id="dlg-export">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Exporting Lineups</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          The csv file will be downloaded shortly.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>  
{% endblock %}

{% block script %}
<script src="/static/js/players.js"></script>
{% endblock %}
